body
{
  background-color: #323392;
  overflow: hidden;
}
@font-face
{
  font-family: 'F77 Minecraft';
  src: url('../fonts/F77 Minecraft.ttf');
}
@font-face
{
  font-family: 'tahoma';
  src: url('../fonts/tahoma.ttf');
}
@font-face
{
  font-family: 'tahomabd';
  src: url('../fonts/tahomabd.ttf');
}
/* главный див */
#desktop
{
  background-color:#323392;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(100,1%);
  grid-template-rows: repeat(100, 1%);
}
/* див меню */
#menu
{
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 101;
  grid-row: 90/101;
  background-color: #0006FF;
  border-style: solid;
  border-top-width: 4px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: #FFFFFF;
  display: grid;
}
/* кнопка меню */
.start-button
{
  background-color: #0006FF;
  width: 110px;
  height: 69px;
  grid-row: 92/97;
  grid-column: 2/9;
}
.logoot
{
  margin-top: 3px;
}
/* <!-- вылетающие меню --> */
.myModal
{
  box-sizing: border-box;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #0006FF;
  z-index: 100;
  grid-row: 58/90;
  grid-column: 2/32;
  background-color: #0006FF;
  border-style: solid;
  border-top-width: 4px;
  border-right-width: 4px;
  border-left-width: 4px;
  border-color: #FFFFFF;
}
#myOverlay {
z-index: 37;
position: fixed;
width: 100%; height: 100%;
top: 0; left: 0;
cursor: pointer;
display: none;
}
.showover{
  display: block;
}
/* наполенени меню */
.hse
{
  margin-top: 2%;
  margin-left: 4%;
}
.myname
{

  font-size: 24px;
  font-family: tahoma;
  color:#FFFFFF;
}
.m
{
  margin-top: 3%;
  margin-left: 5%;
}
.line
{
  height: 1px;
  background-color:#FFFFFF;
  width: 389px;
}
.AP
{
  margin-top: 3%;
  margin-left: 5%;
  font-size: 24px;
  font-family: tahoma;
  color:#FFFFFF;
}
.line2
{
  height: 1px;
  background-color:#FFFFFF;
  width: 389px;
}
.group
{
  font-size: 24px;
  font-family: tahoma;
  color:#FFFFFF;
}
.g
{
  margin-top: 3%;
  margin-left: 5%;
}
.line3
{
  height: 1px;
  background-color:#FFFFFF;
  width: 389px;
}
/* часы */
#time
{
  width: 100%;
  height: 100%;
  grid-row: 94/97 ;
  grid-column: -12/-2;
}
#ru
{
  width: 100%;
  height: 100%;
  grid-row: 94/100 ;
  grid-column: -13/-7;
}
.clock {
  position: relative;
  color:#FFFFFF;
  font-family: tahoma;
  font-size: 30px;
}
.clock ul {
  margin: 0 auto;
  list-style: none;
}
.clock ul li {
  display: inline;
}
.clock ul li#separator {
  -moz-animation: myfade 1s ease infinite;
  -webkit-animation: myfade 1s ease infinite;
}

/* Animation */
@-webkit-keyframes myfade {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}

@-moz-keyframes myfade {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  };
}
.ru
{
  position: relative;
  color:#FFFFFF;
  font-family: tahoma;
  font-size: 30px;
}
/* текст описание */
.text1
{
  position: relative;
  color:#FFFFFF;
  font-family: F77 Minecraft;
  font-size: 27px;
}
#discrioption
{
  width: 100%;
  height: 100%;
  grid-row: 63/85;
  grid-column: 10/70;
}
/* иконки */
.icon
{
  width: 150px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.icon1{
  grid-row: 13/27;
  grid-column: 10/18;
}
.icon:hover
{
  background-color: #1BADFF15;
  border: 3px solid #117AF5;
}
.iconc1
{
  padding: 2px 20px 2px 20px;
  border: 3px solid rgba(255, 0, 0, 0);
}
.iconc1:hover
{
  transform: translateX(3px) translateY(3px);
  background-color: #1BADFF15;
  border: 3px solid #117AF5;
}
.iconc
{
  width: 490px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
  margin-left: 20px;
}
.icon2{
  grid-row: 13/27;
  grid-column: 22/31;
}
.icon3{
  grid-row: 39/51;
  grid-column: 11/19;
}
.icon4{
  grid-row: 39/52 ;
  grid-column: 23/31;
}
.icon5{
  grid-row: 28/42;
  grid-column: 79/87;
}
.icon6{
  grid-row: 47/64;
  grid-column: 68/76;
}
.icon7{
  grid-row: 55/70;
  grid-column: 77/87;
}
.k
{
position: relative;
font-size: 27px;
font-family: tahoma;
color:#FFFFFF;
grid-row: 30/34;
grid-column: 11/18;
}
.b
{
position: relative;
font-size: 27px;
font-family: tahoma;
color:#FFFFFF;
grid-row: 30/34;
grid-column: 23/30;
}
.c
{
position: relative;
font-size: 27px;
font-family: tahoma;
color:#FFFFFF;
grid-row: 53/57;
grid-column: 13/20;
}
.p
{
position: relative;
font-size: 27px;
font-family: tahoma;
color:#FFFFFF;
grid-row: 53/57;
grid-column: 25/30;
}
.t1
{
  font-size: 27px;
  font-family: tahoma;
  color:#FFFFFF;
  margin-left: -1px;
}
.t2
{
  font-size: 27px;
  font-family: tahoma;
  color:#FFFFFF;
  margin-left: -1px;
}
.t3
{
  font-size: 27px;
  font-family: tahoma;
  color:#FFFFFF;
  margin-left: -1px;
}
/* корзина */
.framekorzina
{
  box-sizing: border-box;
  width: 612px;
  height: 415px;

  background-color: #FFFFFF;
  display: none;
  z-index: 10;
  grid-row: 24/65;
  grid-column: 10/51;
  border-style: solid;
  border-top-width: 35px;
  border-right-width: 15px;
  border-bottom-width: 15px;
  border-left-width: 15px;
  border-color: #0000FF;
}
.showover1
{
  display: block;
}
.cloose1
{
  margin-top: -31px;
  margin-left: 498px;
  position: relative;
}
.found
{
width: 150px;
  margin-top: 38px;
  margin-left: 13px;

}
.notfound
{
  margin-left: 26px;
}
.found:hover
{
  background-color: #1BADFF15;
  border: 3px solid #117AF5;
}
.ftext
{
  font-size: 22px;
  font-family: tahoma;
  color: #0000FF;
  width: 122px;
  margin-left: 5px;
  margin-top: 13px;
  text-align: center;

}

.notfoundtext
{
  width: 20%;
  height: 20%;
}
.namekorzina
{
  position: relative;
  font-size: 20px;
  font-family: F77 Minecraft;
  color: #FFFFFF;
  top: -246px;
}
/* фото 1 */
.framegraf
{
  box-sizing: border-box;
  width: 612px;
  height: 415px;
  background-color: #FFFFFF;
  display: none;
  z-index: 3;
  grid-row: 28/74;
  grid-column: 25/50;
  border-style: solid;
  border-top-width: 35px;
  border-right-width: 15px;
  border-bottom-width: 15px;
  border-left-width: 15px;
  border-color: #0000FF;
}
.showover2
{
  display: block;
}
.win2
{
  width: 583px;
  height: 374px;
}
.cloose2
{
  margin-top: -31px;
  margin-left: 498px;
}
.win2
{
  width: 583px;
  height: 374px;
}
.namegraf
{
  font-size: 20px;
  font-family: F77 Minecraft;
  color:#FFFFFF;
  margin-top: -400px;
}

/* фото 2 */
.framepic
{
  box-sizing: border-box;
  width: 612px;
  height: 415px;
  background-color: #FFFFFF;
  display: none;
  z-index: 3;
  grid-row: 15/63;
  grid-column: 50/93;
  border-style: solid;
  border-top-width: 35px;
  border-right-width: 15px;
  border-bottom-width: 15px;
  border-left-width: 15px;
  border-color: #0000FF;
}
.showover3
{
  display: block;
}
.win3
{
  width: 583px;
  height: 374px;
}
.cloose3
{
  margin-top: -31px;
  margin-left: 498px;
}
.namepic
{
  font-size: 20px;
  font-family: F77 Minecraft;
  color:#FFFFFF;
  margin-top: -400px;
}
/* блокнот */
.framenote
{
  box-sizing: border-box;
  width: 612px;
  height: 415px;

  background-color: #FFFFFF;
  display: none;
  z-index: 10;
  grid-row: 14/65;
  grid-column: 40/80;
  border-style: solid;
  border-top-width: 35px;
  border-right-width: 15px;
  border-bottom-width: 15px;
  border-left-width: 15px;
  border-color: #0000FF;
}
.showover5
{
  display: block;
}
.cloose4
{
  margin-top: -31px;
  margin-left: 498px;
}
.namenote
{
  font-size: 20px;
  font-family: F77 Minecraft;
  color:#FFFFFF;
  margin-top: -23px;
}
.textnote
{
  font-size: 24px;
  font-family: tahoma;
  color:#0000FF;
  margin-top: 20px;
  margin-left: 20px;
}
textarea {
  width: 581px;
      height: 277px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #f8f8f8;
      border-radius: 4px;
      background-color: #ffffff;
      font-size: 20px;
      color: #0000FF;
      resize: none;
}
/* ctrl папка */
.framectrl
{
  box-sizing: border-box;
  width: 612px;
  height: 415px;
  background-color: #FFFFFF;
  display: none;
  z-index: 3;
  grid-row: 15/63;
  grid-column: 50/93;
  border-style: solid;
  border-top-width: 35px;
  border-right-width: 15px;
  border-bottom-width: 15px;
  border-left-width: 15px;
  border-color: #0000FF;
}
.showover6
{
  display: block;
}
.cloose6
{
  margin-top: -31px;
  margin-left: 498px;
}
.namectrl
{
  font-size: 20px;
  font-family: F77 Minecraft;
  color:#FFFFFF;
  margin-top: -23px;
}
/* file */
.descriptionapp
{

}

.descriptionapptext
{
  margin-left: 17px;
  font-size: 22px;
  font-family: tahoma;
  color: #0000FF;
}
/* ctrl описание */
.frametextcn
{
  box-sizing: border-box;
  width: 424px;
  height: 549px;
  background-color: #FFFFFF;
  display: none;
  z-index: 3;
  grid-row: 20/82;
  grid-column: 35/66;
  border-style: solid;
  border-top-width: 35px;
  border-right-width: 15px;
  border-bottom-width: 15px;
  border-left-width: 15px;
  border-color: #0000FF;
}
.showover7
{
  display: block;
}
.cloose7
{
  margin-left: 310px;
  margin-top: -23px;
}
.nametextcn
{
  font-size: 20px;
  font-family: F77 Minecraft;
  color:#FFFFFF;
  margin-top: -28px;
}
.maintext
{
  font-size: 20px;
  font-family: tahoma;
  color:#0000FF;
  margin-left: 16px;
  margin-top: 16px;
}
/* file 2 */
.ctrlphoto
{

}
.ctrlphototext
{
  margin-left: 25px;
  font-size: 22px;
  font-family: tahoma;
  color: #0000FF;
}
/* file 3 */
.ctrlopros
{

}
.ctrloprostext
{
  margin-left: 17px;
  font-size: 22px;
  font-family: tahoma;
  color: #0000FF;
}
/* фото 2 */
.framephoto
{
  box-sizing: border-box;
  width: 612px;
  height: 415px;
  background-color: #FFFFFF;
  display: none;
  z-index: 3;
  margin-top: 256px;
  margin-left: 187px;
  border-style: solid;
  border-top-width: 35px;
  border-right-width: 15px;
  border-bottom-width: 15px;
  border-left-width: 15px;
  border-color: #0000FF;
}
.showover8
{
  display: block;
}
.win8
{
  width: 583px;
  height: 374px;
}
.cloose8
{
  margin-top: -31px;
  margin-left: 498px;
}
.namephoto
{
  font-size: 20px;
  font-family: F77 Minecraft;
  color:#FFFFFF;
  margin-top: -400px;
}
/* опрос */
.frameopros
{
  box-sizing: border-box;
  width: 707px;
  height: 580px;
  background-color: #FFFFFF;
  display: none;
  z-index: 3;
  margin-top: 28px;
  margin-left: 130px;
  border-style: solid;
  border-top-width: 35px;
  border-right-width: 15px;
  border-bottom-width: 15px;
  border-left-width: 15px;
  border-color: #0000FF;
}
.showover9
{
  display: block;
}
.cloose9
{
  margin-top: -31px;
  margin-left: 591px;
}
.nameopros
{
  font-size: 20px;
  font-family: F77 Minecraft;
  color:#FFFFFF;
  margin-top: -24px;
}
.dis
{
  margin-top: 20px;
  margin-left: 10px;
}
.textnn
{
  font-size: 24px;
  font-family: tahomabd;
  color:#0000FF;
  margin-top: -449px;
  margin-left: 244px;
}
.vr1
{
  font-size: 22px;
  width: 370px;
  font-family: tahoma;
  color: #0000FF;
  margin-top: 40px;
  margin-left: 294px;
}
.vr2
{
  font-size: 22px;
  width: 370px;
  font-family: tahoma;
  color: #0000FF;
  margin-top: 40px;
  margin-left: 294px;
}
/* кнопка 1 */
.buttoncancel
{
  background-color: #FFFF;
    width: 140px;
    height: 48px;
    margin-top: 135px;
    margin-left: 299px;
    border-width: 3px;
    border-color: #0000FF;
    position: relative;
}
.buttondone
{
    background-color: #FFFF;
    width: 140px;
    height: 48px;
    margin-left: 20px;
    border-width: 3px;
    border-color: #0000FF;
    position: relative;
}
.cancel
{
  font-size: 22px;
  font-family: tahoma;
  color: #0000FF;
}
.done
{
  font-size: 22px;
  font-family: tahoma;
  color: #0000FF;
}
.showover10
{
  display: block;
}
.showover11
{
  display: block;
}
.mainradio
{
  top: 135px;
  position: absolute;
    left: 241px;
}
.radio_input{
width: 36px;
height: 36px;
}

.radio_input2 {
width: 36px;
height: 36px;
position: absolute;
top: 106px;
}
#dino
{
  display:none;
  background-color:#0000FF;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(100,1%);
  grid-template-rows: repeat(100, 1%);
}
.dino
{
  width: 3500%;
  height: 3500%;
  margin-left: 465px;
  margin-top: 326px;

}
.fail
{
      font-size: 30px;
      font-family: F77 Minecraft;
      color:#FFFFFF;
      grid-row: 73/76;
      grid-column: 43/60;
}
.krest
{
    grid-column: 96/99;
}

#blue
{
  display: none;
  background-color:#0000FF;
  width: 124vw;
  height: 150vh;
  grid-template-columns: repeat(100,1%);
  grid-template-rows: repeat(100, 1%);
}
.krest
{
 grid-column: 96/99;
}
.krest1
{
 margin-left:1356px;
}

.bluetext
{

  font-size: 30px;
  font-family: F77 Minecraft;
  color: #FFFFFF;
  margin-top: 169px;
  margin-left: 115px;
  width: 413px;

}
.bluetext1
{
  width: 1296px;
  font-size: 30px;
  font-family: F77 Minecraft;
  color: #FFFFFF;
  margin-top: 245px;
  margin-left: 94px;
  line-height: 1.5;
}
.bluetext2
{

  font-size: 30px;
  font-family: F77 Minecraft;
  color: #FFFFFF;
  margin-top: 429px;
  margin-left: 78px;

}
